@use "@/scss/helpers" as *;

.cta-form {
  width: 100%;
  max-width: 735px;
  background-color: transparent;

  &__title {
    margin: 0;
    margin-bottom: fluid(24, 50);
    font-weight: 400;
    font-size: fluid(28, 36);
    color: var(--col-white);

    @include max-768 {
      text-align: center;
    }
  }

  &__fieldset {
    padding: 0;
    margin-bottom: fluid(20, 34);
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px 29px;
  }

  &__field {
    position: relative;
    width: 100%;

    @include max-576 {
      grid-column: span 2;
    }
  }

  &__input {
    padding-left: 21px;
    width: 100%;
    height: 47px;
    border: 1px solid var(--col-white);
    border-radius: 7px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    color: var(--col-white);

    &--date {
      background-image: url('@/assets/img/calendar-icon.svg');
      background-repeat: no-repeat;
      background-position: right 13px center;
      background-size: 15px 17px;

      &::-webkit-calendar-picker-indicator {
        opacity: 0;
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    &:not(:placeholder-shown)+.cta-form__label {
      translate: -4px -33px;
      font-size: 13px;
      background-color: var(--col-white);
      color: var(--col-dark-1);
    }

    &:focus-visible {
      outline: none;
    }

  }

  &__label {
    position: absolute;
    padding: 2px 10px;
    border-radius: 20px;
    left: 11px;
    top: 50%;
    translate: 0 -50%;
    font-weight: 400;
    font-size: 16px;
    color: var(--col-white);
    transition: font-size var(--anim-normal), translate var(--anim-normal), color var(--anim-normal), background-color var(--anim-normal);
    pointer-events: none;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include max-576 {
      flex-direction: column;
    }
  }

  &__policy {
    max-width: 335px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: var(--col-white);

    @include max-576 {
      text-align: center;
    }
  }

  &__btn {
    flex-shrink: 0;
    padding: 5px 40px;

    @include max-576 {
      width: 100%;
    }
  }
}