@use "@/scss/helpers" as *;

.services-menu {
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 100%;
  background-image: url('@/assets/img/services-menu-bg.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: var(--col-white);

  height: 908px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;

  transition: all 0.6s;

  &.is-active {
    opacity: 1;
    box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.2);
    visibility: visible;
  }

  &__list {
    padding-top: 65px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 39px 20px;
  }

  &__item {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item-title {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    color: var(--col-dark-2);
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 20px;
    max-width: 251px;
  }

  &__sublink {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: var(--col-dark-2);
  }

  &__more-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--col-blue-1);
  }

  &__btn {
    margin-top: 10px;
  }
}

.btn-services {
  position: relative;
  padding: 8px 15px 5px 50px;
  margin-right: -10px;
  min-height: 49px;
  margin-right: -10px;
  border-radius: 7px;

  &__cross-icon,
  &__dots-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    translate: 0 -50%;
    transform-origin: center;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__cross-icon {
    opacity: 0;
    transform: scale(0.5) rotate(-45deg);
  }

  &.is-active {
    background-color: var(--col-blue-1);
    color: var(--col-white);

    .btn-services__dots-icon {
      transform: scale(0.2) rotate(360deg) translateY(-3px);
      /* сжимаем, крутим и подскакиваем */
      opacity: 0;
    }

    .btn-services__cross-icon {
      transform: scale(1) rotate(0deg);
      /* плавно «вырастает» */
      opacity: 1;
    }
  }
}