@use "@/scss/helpers" as *;

.doctors {
  padding-top: fluid(40, 107);
  overflow: hidden;

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 38px;

    @include max-1024 {
      flex-direction: column;
      align-items: flex-start;
    }

    @include max-576 {
      gap: 20px;
      margin-bottom: 30px;
    }
  }

  &__caption {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__text {
    max-width: 538px;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 46px;

    @include max-1024 {
      align-self: flex-end;
    }

    @include max-576 {
      flex-direction: column;
      align-self: flex-start;
      align-items: flex-start;
    }
  }

}

.slider-doctors {

  &__swiper-wrapper {
    align-items: stretch;
  }

  &__slide {
    flex-shrink: 0;
    height: auto !important;
    width: 295px;

    // @include max-768 {
    //   width: auto;
    // }
  }
}


.slide-doctors {
  display: flex !important;
  flex-direction: column;
  border-radius: 12px;
  transition-property: all !important;
  transition: opacity var(--anim-normal);

  @include max-576 {
    box-shadow: none;
  }

  &__img-wrapper {
    position: relative;
    height: 251px;
    border-radius: 12px 12px 0 0;
    background-color: var(--col-grey-light-1);
    overflow: hidden;

    @include max-576 {
      // height: fluid(190, 220, 320, 576);
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    mix-blend-mode: darken;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 18px;
    border-radius: 0 0 12px 12px;
    background-color: var(--col-white);
  }

  &__name {
    display: block;
    margin-bottom: 5px;
    padding: 0 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;
    color: var(--col-dark-2);

    @include max-1200 {
      padding: 0;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: var(--col-grey-1);

    @include max-576 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }

  &__btn {
    margin-top: auto;
  }
}