@font-face {
  font-family: 'Muller';
  src: url('@/assets/fonts/Muller-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('@/assets/fonts/Muller-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('@/assets/fonts/Muller-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('@/assets/fonts/Muller-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('@/assets/fonts/BebasNeue-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}