<section class="about">
  <div class="container about__container">
    <div class="about__content">
      <h2 class="about__title">
        Клиника профессора Кинзерского
      </h2>
      <p class="about__text">
        Клиника профессора Кинзерского – это уникальный лечебный центр, оказывающий медицинские услуги на основе европейских стандартов. В работе мы применяем зарубежные методики лечения и наработки
        собственных специалистов. Совокупность достижений зарубежной и отечественной медицины формируют специфику нашего подхода.
      </p>
      <ul class="list-reset about__list">
        <li>
          <a href="#!" class="btn btn--white-bg">Подробнее о клинике</a>
        </li>
        <li>
          <a href="#!" class="btn btn--white-text btn--transparent">Врачи клиники</a>
        </li>
        <li>
          <a href="#!" class="btn btn--white-text btn--transparent">Отзывы пациентов</a>
        </li>
      </ul>
    </div>
    <div class="about__mission">
      <button class="btn-reset about__play-btn" data-dialog-btn="video-about">
        <svg width="22" height="25" viewBox="0 0 22 25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M20.3559 9.57861L4.90869 0.453857C4.40423 0.152013 3.8324 -0.0045481 3.25138 0.000100586C2.67037 0.00474927 2.1009 0.170442 1.60089 0.480323C1.11377 0.772022 0.709059 1.19352 0.427883 1.702C0.146708 2.21047 -0.000917682 2.78781 4.29219e-06 3.37537V21.6249C-0.000917682 22.2124 0.146708 22.7898 0.427883 23.2982C0.709059 23.8067 1.11377 24.2282 1.60089 24.5199C2.10094 24.8296 2.6704 24.9953 3.25139 24.9999C3.83237 25.0045 4.40418 24.8481 4.90869 24.5464L20.3559 15.4216C20.8541 15.1327 21.2693 14.7093 21.5584 14.1956C21.8475 13.6818 22 13.0964 22 12.5001C22 11.9038 21.8475 11.3184 21.5584 10.8046C21.2693 10.2909 20.8541 9.86756 20.3559 9.57861Z" />
        </svg>
      </button>
      <p class="about__mission-text">
        Миссия — наша Клиника создана для обеспечения населения <span class="about-accent-text">качественными медицинскими услугами</span> европейского уровня, на основе передовых технологий и
        собственных наработок в медицине
      </p>
    </div>
  </div>
</section>