<section class="advs">
  <div class="container">
    <h2 class="section-title advs__title">Преимущества клиники</h2>
    <div class="advs__wrapper">
      <div class="advs__tabs table-tabs" data-js-tabs>
        <div class="table-tabs__tablist" role="tablist" aria-label="Преимущества клиники">
          <button class="btn-reset table-tabs__btn is-active" role="tab" aria-selected="true" aria-controls="advs-panel-1" id="advs-tab-1" tabindex="0" data-js-tabs-button>
            Европейские стандарты
          </button>
          <button class="btn-reset table-tabs__btn" role="tab" aria-selected="true" aria-controls="advs-panel-2" id="advs-tab-2" tabindex="-1" data-js-tabs-button>
            Сильнейшая команда врачей
          </button>
          <button class="btn-reset table-tabs__btn" role="tab" aria-selected="true" aria-controls="advs-panel-3" id="advs-tab-3" tabindex="-1" data-js-tabs-button>
            Большой выбор услуг
          </button>
          <button class="btn-reset table-tabs__btn" role="tab" aria-selected="true" aria-controls="advs-panel-4" id="advs-tab-4" tabindex="-1" data-js-tabs-button>
            Новейшие технологии
          </button>
          <button class="btn-reset table-tabs__btn" role="tab" aria-selected="true" aria-controls="advs-panel-5" id="advs-tab-5" tabindex="-1" data-js-tabs-button>
            Детское направление
          </button>
          <button class="btn-reset table-tabs__btn" role="tab" aria-selected="true" aria-controls="advs-panel-6" id="advs-tab-6" tabindex="-1" data-js-tabs-button>
            Собственные разработки
          </button>
          <button class="btn-reset table-tabs__btn" role="tab" aria-selected="true" aria-controls="advs-panel-7" id="advs-tab-7" tabindex="-1" data-js-tabs-button>
            Запатентованные технологии
          </button>
          <button class="btn-reset table-tabs__btn" role="tab" aria-selected="true" aria-controls="advs-panel-8" id="advs-tab-8" tabindex="-1" data-js-tabs-button>
            COVID-реабилитация
          </button>
        </div>
      </div>
      <div class="advs__content">
        <div class="table-tabs-content is-active" id="advs-panel-1" role="tabpanel" tabindex="0" aria-labelledby="advs-tab-1" data-js-tabs-content>
          <div class="advs__card card-advs">
            <h3 class="card-advs__title">Европейские стандарты</h3>
            <p class="card-advs__text">
              Во многих направлениях медицины, кроме системы обязательного медицинского страхования, не существует единых всероссийских стандартов.<br><br>
              Поэтому в нашей Клинике используются стандарты различных Европейских ассоциаций.
            </p>
            <p class="card-advs__secondary-text">
              (International Society for Musculoskeletal Ultrasound, European Society of Musculoskeletal Radiology, European Federation of Societies for Ultrasound in Medicine and Biology, European
              Association of Cardiovascular Imaging, European Federation of Neurological Societies, European Society of Cardiology и др.)
            </p>
          </div>
        </div>
        <div class="table-tabs-content" id="advs-panel-2" role="tabpanel" tabindex="0" aria-labelledby="advs-tab-2" data-js-tabs-content>
          <div class="advs__card card-advs">
            <h3 class="card-advs__title">Сильнейшая команда врачей</h3>
            <p class="card-advs__text">
              В нашей Клинике работают одни из ведущих специалистов в своих направлениях 3 профессора, 3 доктора медицинских наук, 17 кандидатов медицинских наук, 3 доктора высшей категории.<br><br>
              Большинство наших специалистов являются членами Европейских ассоциаций, постоянно принимают участие в Европейских и всероссийских конгрессах, мастер классах. Проходят обучение в ведущих
              учебных
              центрах России и зарубежья. Наши врачи — это наша гордость!
            </p>
          </div>
        </div>
        <div class="table-tabs-content" id="advs-panel-3" role="tabpanel" tabindex="0" aria-labelledby="advs-tab-3" data-js-tabs-content>
          <div class="advs__card card-advs">
            <h3 class="card-advs__title">Большой выбор услуг</h3>
            <p class="card-advs__text">
              Миссия нашей Клиники — обеспечить население качественными медицинскими услугами европейского уровня на основе передовых технологий и собственных наработок в медицине.
            </p>
          </div>
        </div>
        <div class="table-tabs-content" id="advs-panel-4" role="tabpanel" tabindex="0" aria-labelledby="advs-tab-4" data-js-tabs-content>
          <div class="advs__card card-advs">
            <h3 class="card-advs__title">Новейшие технологии</h3>
            <p class="card-advs__text">
              Мы гордимся новейшими технологиями клиники, аппаратом Canon Aplio i700 и другим оборудованием экспертного уровня, обеспечивающих максимально точную диагностику, даже на самых ранних
              этапах болезни.
            </p>
          </div>
        </div>
        <div class="table-tabs-content" id="advs-panel-5" role="tabpanel" tabindex="0" aria-labelledby="advs-tab-5" data-js-tabs-content>
          <div class="advs__card card-advs">
            <h3 class="card-advs__title">Детское направление</h3>
            <p class="card-advs__text">
              В состав клиники входит Учебный центр для врачей УЗИ. Обучение на базе клиники прошли уже более 3000 слушателей из разных уголков России, а также Европы и Северной Америки.<br><br>
              Клиника профессора Кинзерского уже долгие годы является научной базой, где разрабатываются современные методики ультразвуковых исследований опорно-двигательного аппарата. C 2011 года
              клиника проводит
              обучение по основным разделам ультразвуковой и функциональной диагностики. Обучение на базе клиники прошли уже более 3000 слушателей из разных уголков России, а также Европы и Северной
              Америки.
            </p>
          </div>
        </div>
        <div class="table-tabs-content" id="advs-panel-6" role="tabpanel" tabindex="0" aria-labelledby="advs-tab-6" data-js-tabs-content>
          <div class="advs__card card-advs">
            <h3 class="card-advs__title">Собственные разработки</h3>
            <p class="card-advs__text">
              Современная европейская медицина не может обойтись без новейших технологий. Наша Клиника старается внедрять высокие технологии в основных направлениях деятельности.<br><br>
              Мы первые на Южном Урале стали определять жесткость ткани с помощью ультразвука (компрессионная эластометрия, эластометрия сдвиговой волной)<br><br>
              Мы — единственная Клиника за пределами Москвы, применяющая ультразвуковые контрастные вещества
            </p>
          </div>
        </div>
        <div class="table-tabs-content" id="advs-panel-7" role="tabpanel" tabindex="0" aria-labelledby="advs-tab-7" data-js-tabs-content>
          <div class="advs__card card-advs">
            <h3 class="card-advs__title">Запатентованные технологии</h3>
            <p class="card-advs__text">
              Ультразвуковая диагностика (УЗИ) — одно из ключевых направлений современной лучевой диагностики. Обследование с помощью звуковых волн позволяет в короткие сроки поставить точный диагноз,
              выбрать курс
              лечения, отследить динамику развития болезни. По сравнению с другими лучевыми методами процедура безвредна для здоровья.
            </p>
          </div>
        </div>
        <div class="table-tabs-content" id="advs-panel-8" role="tabpanel" tabindex="0" aria-labelledby="advs-tab-8" data-js-tabs-content>
          <div class="advs__card card-advs">
            <h3 class="card-advs__title">COVID-реабилитация</h3>
            <p class="card-advs__text">
              Современная европейская медицина не может обойтись без новейших технологий. Наша Клиника старается внедрять высокие технологии в основных направлениях деятельности.<br><br>
              Мы первые на Южном Урале стали определять жесткость ткани с помощью ультразвука (компрессионная эластометрия, эластометрия сдвиговой волной)<br><br>
              Мы — единственная Клиника за пределами Москвы, применяющая ультразвуковые контрастные вещества
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>