<section class="doctors">
  <div class="container">
    <div class="doctors__header">
      <div class="doctors__caption">
        <h2 class="section-title">Команда специалистов</h2>
        <p class="section-text doctors__text">
          Ведущие специалисты в своих направлениях, 5 профессоров,
          докторов наук, более 20 кандидатов наук
        </p>
      </div>
      <div class="doctors__controls">
        <a href="#!" class="base-link">Все специалисты</a>
        <div class="slider-controls">
          <button class="btn-reset slider-btn" data-js-slider-previous="doctors">
            <svg width="12" height="22" viewBox="0 0 12 22" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.7211 0.277484C11.3494 -0.0924946 10.7467 -0.0924946 10.375 0.277484L0.278791 10.3298C-0.0922221 10.6993 -0.0929193 11.2977 0.276641 11.6681L0.278791 11.6702C0.283439 11.6749 0.288145 11.6792 0.292909 11.6839L10.375 21.7223C10.7468 22.0926 11.3495 22.0926 11.7212 21.7223C12.0929 21.3521 12.0929 20.7522 11.7212 20.382L2.2981 10.9999L11.7211 1.61787C12.0929 1.24766 12.0929 0.647693 11.7211 0.277484Z" />
            </svg>
          </button>
          <div class="slider-pagination" data-js-slider-pagination="doctors"></div>
          <button class="btn-reset slider-btn" data-js-slider-next="doctors">
            <svg width="12" height="22" viewBox="0 0 12 22" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.278884 21.7225C0.650595 22.0925 1.2533 22.0925 1.62501 21.7225L11.7212 11.6702C12.0922 11.3007 12.0929 10.7023 11.7234 10.3319L11.7212 10.3298C11.7166 10.3251 11.7119 10.3208 11.7071 10.3161L1.62496 0.277656C1.25325 -0.0925531 0.650538 -0.0925532 0.278829 0.277656C-0.0929404 0.647866 -0.0929404 1.24784 0.278828 1.61805L9.7019 11.0001L0.278884 20.3821C-0.092884 20.7523 -0.092884 21.3523 0.278884 21.7225Z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="doctors__slider slider-doctors"
      data-js-slider='{"slidesPerView":1,"slidesPerGroup":1,"breakpoints":{"768":{"slidesPerView":2},"1024":{"slidesPerView":3},"1200":{"slidesPerView":4,"slidesPerGroup":4}}}'>
      <div class="swiper slider-doctors__swiper" data-js-slider-swiper="doctors">
        <div class="swiper-wrapper slider-doctors__swiper-wrapper">
          <div class="swiper-slide slider-doctors__slide slide-doctors">
            <div class="slide-doctors__img-wrapper">
              <img class="slide-doctors__img" src="src/assets/img/doctors-img-1.png" alt="fish" width="295" height="251" loading="lazy">
            </div>
            <div class="slide-doctors__content">
              <span class="slide-doctors__name">Сумная Дина Борисовна</span>
              <p class="slide-doctors__text">
                Доктор медицинских наук,<br>профессор, врач невролог высшей категории
              </p>
              <button class="btn-reset btn btn--sm btn--blue-light-bg slide-doctors__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться онлайн</span>
              </button>
            </div>
          </div>
          <div class="swiper-slide slider-doctors__slide slide-doctors">
            <div class="slide-doctors__img-wrapper">
              <img class="slide-doctors__img" src="src/assets/img/doctors-img-2.png" alt="fish" width="295" height="251" loading="lazy">
            </div>
            <div class="slide-doctors__content">
              <span class="slide-doctors__name">Кудрина Алевтина Васильевна</span>
              <p class="slide-doctors__text">
                Кандидат медицинских наук, врач функциональной и ультразвуковой диагностики высшей категории.
              </p>
              <button class="btn-reset btn btn--sm btn--blue-light-bg slide-doctors__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться онлайн</span>
              </button>
            </div>
          </div>
          <div class="swiper-slide slider-doctors__slide slide-doctors">
            <div class="slide-doctors__img-wrapper">
              <img class="slide-doctors__img" src="src/assets/img/doctors-img-3.png" alt="fish" width="295" height="251" loading="lazy">
            </div>
            <div class="slide-doctors__content">
              <span class="slide-doctors__name">Кинзерский Сергей Александрович</span>
              <p class="slide-doctors__text">
                Кандидат медицинских наук, доцент кафедры спортивной медицины и физической реабилитации УралГУФК
              </p>
              <button class="btn-reset btn btn--sm btn--blue-light-bg slide-doctors__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться онлайн</span>
              </button>
            </div>
          </div>
          <div class="swiper-slide slider-doctors__slide slide-doctors">
            <div class="slide-doctors__img-wrapper">
              <img class="slide-doctors__img" src="src/assets/img/doctors-img-4.png" alt="fish" width="295" height="251" loading="lazy">
            </div>
            <div class="slide-doctors__content">
              <span class="slide-doctors__name">Кинзерский Антон Александрович</span>
              <p class="slide-doctors__text">
                Врач-невролог, мануальный терапевт, врач функциональной диагностики, врач ультразвуковой диагностики. Кандидат медицинских наук.
              </p>
              <button class="btn-reset btn btn--sm btn--blue-light-bg slide-doctors__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться онлайн</span>
              </button>
            </div>
          </div>
          <div class="swiper-slide slider-doctors__slide slide-doctors">
            <div class="slide-doctors__img-wrapper">
              <img class="slide-doctors__img" src="src/assets/img/doctors-img-1.png" alt="fish" width="295" height="251" loading="lazy">
            </div>
            <div class="slide-doctors__content">
              <span class="slide-doctors__name">Сумная Дина Борисовна</span>
              <p class="slide-doctors__text">
                Доктор медицинских наук,<br>профессор, врач невролог высшей категории
              </p>
              <button class="btn-reset btn btn--sm btn--blue-light-bg slide-doctors__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться онлайн</span>
              </button>
            </div>
          </div>
          <div class="swiper-slide slider-doctors__slide slide-doctors">
            <div class="slide-doctors__img-wrapper">
              <img class="slide-doctors__img" src="src/assets/img/doctors-img-2.png" alt="fish" width="295" height="251" loading="lazy">
            </div>
            <div class="slide-doctors__content">
              <span class="slide-doctors__name">Кудрина Алевтина Васильевна</span>
              <p class="slide-doctors__text">
                Кандидат медицинских наук, врач функциональной и ультразвуковой диагностики высшей категории.
              </p>
              <button class="btn-reset btn btn--sm btn--blue-light-bg slide-doctors__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться онлайн</span>
              </button>
            </div>
          </div>
          <div class="swiper-slide slider-doctors__slide slide-doctors">
            <div class="slide-doctors__img-wrapper">
              <img class="slide-doctors__img" src="src/assets/img/doctors-img-3.png" alt="fish" width="295" height="251" loading="lazy">
            </div>
            <div class="slide-doctors__content">
              <span class="slide-doctors__name">Кинзерский Сергей Александрович</span>
              <p class="slide-doctors__text">
                Кандидат медицинских наук, доцент кафедры спортивной медицины и физической реабилитации УралГУФК
              </p>
              <button class="btn-reset btn btn--sm btn--blue-light-bg slide-doctors__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться онлайн</span>
              </button>
            </div>
          </div>
          <div class="swiper-slide slider-doctors__slide slide-doctors">
            <div class="slide-doctors__img-wrapper">
              <img class="slide-doctors__img" src="src/assets/img/doctors-img-4.png" alt="fish" width="295" height="251" loading="lazy">
            </div>
            <div class="slide-doctors__content">
              <span class="slide-doctors__name">Кинзерский Антон Александрович</span>
              <p class="slide-doctors__text">
                Врач-невролог, мануальный терапевт, врач функциональной диагностики, врач ультразвуковой диагностики. Кандидат медицинских наук.
              </p>
              <button class="btn-reset btn btn--sm btn--blue-light-bg slide-doctors__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться онлайн</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>