<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Сильнейшая команда врачей города и страны в&nbsp;направлении УЗИ</h1>
      <p class="section-text section-text--white hero__text">
        Метод, который помогает правильно поставить диагноз
      </p>
      <div class="hero__btns">
        <button class="btn-reset btn btn--white-bg btn-hero" data-dialog-btn="appoinment">
          <span class="btn__text">Записаться на прием</span>
        </button>
        <a href="#!" class="btn btn--white-text btn--transparent btn-hero">
          <span class="btn__text">Подробнее</span>
        </a>
      </div>
    </div>
    <div class="hero__img">
      <img src="src/assets/img/hero-img.avif" alt="fish" width="850" height="593">
    </div>
  </div>
</section>