<section class="news">
  <div class="container">
    <h2 class="section-title news__title">Пресс-центр</h2>
    <div class="news__caption">
      <div class="slider-tabs news__tabs" data-js-tabs>
        <div class="slider-tabs__tablist" role="tablist" aria-label="Пресс-центр">
          <div class="slider-tabs__slider" data-js-tabs-slider></div>
          <button class="btn-reset slider-tabs__btn is-active" role="tab" aria-selected="true" aria-controls="news-panel-1" id="news-tab-1" tabindex="0" data-js-tabs-button>СМИ о нас</button>
          <button class="btn-reset slider-tabs__btn" role="tab" aria-selected="true" aria-controls="news-panel-2" id="news-tab-2" tabindex="-1" data-js-tabs-button>Новости</button>
          <button class="btn-reset slider-tabs__btn" role="tab" aria-selected="true" aria-controls="news-panel-3" id="news-tab-3" tabindex="-1" data-js-tabs-button>Статьи</button>
        </div>
      </div>
      <a href="#!" class="base-link">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <rect width="12" height="2" rx="1" />
          <rect y="5" width="12" height="2" rx="1" />
          <rect y="10" width="6" height="2" rx="1" />
        </svg>
        Больше новостей
      </a>
    </div>
    <div class="news__content">
      <div class="slider-tabs-content is-active" id="news-panel-1" role="tabpanel" tabindex="0" aria-labelledby="news-tab-1" data-js-tabs-content>
        <ul class="list-reset news__list list-news">
          <li class="list-news__item">
            <article class="card-news">
              <div class="card-news__img-wrapper">
                <img class="card-news__img" src="src/assets/img/news-img-1.avif" alt="fish" width="400" height="230" loading="lazy">
              </div>
              <div class="card-news__content">
                <h3 class="card-news__title">УЗИ брюшной полости в Челябинске: где сделать, цены</h3>
                <div class="card-news__bottom">
                  <span class="card-news__date"><time datetime="2025-10-12">12 октября</time></span>
                  <a href="#!" class="card-news__link">
                    Читать
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3536 4.35355C13.5488 4.15829 13.5488 3.84171 13.3536 3.64645L10.1716 0.464467C9.97631 0.269205 9.65973 0.269205 9.46447 0.464467C9.2692 0.659729 9.2692 0.976312 9.46447 1.17157L12.2929 4L9.46447 6.82843C9.2692 7.02369 9.2692 7.34027 9.46447 7.53553C9.65973 7.7308 9.97631 7.7308 10.1716 7.53553L13.3536 4.35355ZM-4.37114e-08 4.5L13 4.5L13 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="list-news__item">
            <article class="card-news">
              <div class="card-news__img-wrapper">
                <img class="card-news__img" src="src/assets/img/news-img-2.avif" alt="fish" width="400" height="230" loading="lazy">
              </div>
              <div class="card-news__content">
                <h3 class="card-news__title">Как сохранить здоровье? - Рассказывает врач-мануальный терапевт</h3>
                <div class="card-news__bottom">
                  <span class="card-news__date"><time datetime="2025-10-12">12 октября</time></span>
                  <a href="#!" class="card-news__link">
                    Читать
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3536 4.35355C13.5488 4.15829 13.5488 3.84171 13.3536 3.64645L10.1716 0.464467C9.97631 0.269205 9.65973 0.269205 9.46447 0.464467C9.2692 0.659729 9.2692 0.976312 9.46447 1.17157L12.2929 4L9.46447 6.82843C9.2692 7.02369 9.2692 7.34027 9.46447 7.53553C9.65973 7.7308 9.97631 7.7308 10.1716 7.53553L13.3536 4.35355ZM-4.37114e-08 4.5L13 4.5L13 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="list-news__item">
            <article class="card-news">
              <div class="card-news__img-wrapper">
                <img class="card-news__img" src="src/assets/img/news-img-3.avif" alt="fish" width="400" height="230" loading="lazy">
              </div>
              <div class="card-news__content">
                <h3 class="card-news__title">Реабилитация после перенесенного коронавируса COVID 19</h3>
                <div class="card-news__bottom">
                  <span class="card-news__date"><time datetime="2025-10-12">12 октября</time></span>
                  <a href="#!" class="card-news__link">
                    Читать
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3536 4.35355C13.5488 4.15829 13.5488 3.84171 13.3536 3.64645L10.1716 0.464467C9.97631 0.269205 9.65973 0.269205 9.46447 0.464467C9.2692 0.659729 9.2692 0.976312 9.46447 1.17157L12.2929 4L9.46447 6.82843C9.2692 7.02369 9.2692 7.34027 9.46447 7.53553C9.65973 7.7308 9.97631 7.7308 10.1716 7.53553L13.3536 4.35355ZM-4.37114e-08 4.5L13 4.5L13 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="slider-tabs-content" id="news-panel-2" role="tabpanel" tabindex="0" aria-labelledby="news-tab-2" data-js-tabs-content>
        <ul class="list-reset news__list list-news">
          <li class="list-news__item">
            <article class="card-news">
              <div class="card-news__img-wrapper">
                <img class="card-news__img" src="src/assets/img/news-img-1.avif" alt="fish" width="400" height="230" loading="lazy">
              </div>
              <div class="card-news__content">
                <h3 class="card-news__title">УЗИ брюшной полости в Челябинске: где сделать, цены</h3>
                <div class="card-news__bottom">
                  <span class="card-news__date"><time datetime="2025-10-12">12 октября</time></span>
                  <a href="#!" class="card-news__link">
                    Читать
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3536 4.35355C13.5488 4.15829 13.5488 3.84171 13.3536 3.64645L10.1716 0.464467C9.97631 0.269205 9.65973 0.269205 9.46447 0.464467C9.2692 0.659729 9.2692 0.976312 9.46447 1.17157L12.2929 4L9.46447 6.82843C9.2692 7.02369 9.2692 7.34027 9.46447 7.53553C9.65973 7.7308 9.97631 7.7308 10.1716 7.53553L13.3536 4.35355ZM-4.37114e-08 4.5L13 4.5L13 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="list-news__item">
            <article class="card-news">
              <div class="card-news__img-wrapper">
                <img class="card-news__img" src="src/assets/img/news-img-2.avif" alt="fish" width="400" height="230" loading="lazy">
              </div>
              <div class="card-news__content">
                <h3 class="card-news__title">Как сохранить здоровье? - Рассказывает врач-мануальный терапевт</h3>
                <div class="card-news__bottom">
                  <span class="card-news__date"><time datetime="2025-10-12">12 октября</time></span>
                  <a href="#!" class="card-news__link">
                    Читать
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3536 4.35355C13.5488 4.15829 13.5488 3.84171 13.3536 3.64645L10.1716 0.464467C9.97631 0.269205 9.65973 0.269205 9.46447 0.464467C9.2692 0.659729 9.2692 0.976312 9.46447 1.17157L12.2929 4L9.46447 6.82843C9.2692 7.02369 9.2692 7.34027 9.46447 7.53553C9.65973 7.7308 9.97631 7.7308 10.1716 7.53553L13.3536 4.35355ZM-4.37114e-08 4.5L13 4.5L13 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="list-news__item">
            <article class="card-news">
              <div class="card-news__img-wrapper">
                <img class="card-news__img" src="src/assets/img/news-img-3.avif" alt="fish" width="400" height="230" loading="lazy">
              </div>
              <div class="card-news__content">
                <h3 class="card-news__title">Реабилитация после перенесенного коронавируса COVID 19</h3>
                <div class="card-news__bottom">
                  <span class="card-news__date"><time datetime="2025-10-12">12 октября</time></span>
                  <a href="#!" class="card-news__link">
                    Читать
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3536 4.35355C13.5488 4.15829 13.5488 3.84171 13.3536 3.64645L10.1716 0.464467C9.97631 0.269205 9.65973 0.269205 9.46447 0.464467C9.2692 0.659729 9.2692 0.976312 9.46447 1.17157L12.2929 4L9.46447 6.82843C9.2692 7.02369 9.2692 7.34027 9.46447 7.53553C9.65973 7.7308 9.97631 7.7308 10.1716 7.53553L13.3536 4.35355ZM-4.37114e-08 4.5L13 4.5L13 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="slider-tabs-content" id="news-panel-3" role="tabpanel" tabindex="0" aria-labelledby="news-tab-3" data-js-tabs-content>
        <ul class="list-reset news__list list-news">
          <li class="list-news__item">
            <article class="card-news">
              <div class="card-news__img-wrapper">
                <img class="card-news__img" src="src/assets/img/news-img-1.avif" alt="fish" width="400" height="230" loading="lazy">
              </div>
              <div class="card-news__content">
                <h3 class="card-news__title">УЗИ брюшной полости в Челябинске: где сделать, цены</h3>
                <div class="card-news__bottom">
                  <span class="card-news__date"><time datetime="2025-10-12">12 октября</time></span>
                  <a href="#!" class="card-news__link">
                    Читать
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3536 4.35355C13.5488 4.15829 13.5488 3.84171 13.3536 3.64645L10.1716 0.464467C9.97631 0.269205 9.65973 0.269205 9.46447 0.464467C9.2692 0.659729 9.2692 0.976312 9.46447 1.17157L12.2929 4L9.46447 6.82843C9.2692 7.02369 9.2692 7.34027 9.46447 7.53553C9.65973 7.7308 9.97631 7.7308 10.1716 7.53553L13.3536 4.35355ZM-4.37114e-08 4.5L13 4.5L13 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="list-news__item">
            <article class="card-news">
              <div class="card-news__img-wrapper">
                <img class="card-news__img" src="src/assets/img/news-img-2.avif" alt="fish" width="400" height="230" loading="lazy">
              </div>
              <div class="card-news__content">
                <h3 class="card-news__title">Как сохранить здоровье? - Рассказывает врач-мануальный терапевт</h3>
                <div class="card-news__bottom">
                  <span class="card-news__date"><time datetime="2025-10-12">12 октября</time></span>
                  <a href="#!" class="card-news__link">
                    Читать
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3536 4.35355C13.5488 4.15829 13.5488 3.84171 13.3536 3.64645L10.1716 0.464467C9.97631 0.269205 9.65973 0.269205 9.46447 0.464467C9.2692 0.659729 9.2692 0.976312 9.46447 1.17157L12.2929 4L9.46447 6.82843C9.2692 7.02369 9.2692 7.34027 9.46447 7.53553C9.65973 7.7308 9.97631 7.7308 10.1716 7.53553L13.3536 4.35355ZM-4.37114e-08 4.5L13 4.5L13 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="list-news__item">
            <article class="card-news">
              <div class="card-news__img-wrapper">
                <img class="card-news__img" src="src/assets/img/news-img-3.avif" alt="fish" width="400" height="230" loading="lazy">
              </div>
              <div class="card-news__content">
                <h3 class="card-news__title">Реабилитация после перенесенного коронавируса COVID 19</h3>
                <div class="card-news__bottom">
                  <span class="card-news__date"><time datetime="2025-10-12">12 октября</time></span>
                  <a href="#!" class="card-news__link">
                    Читать
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3536 4.35355C13.5488 4.15829 13.5488 3.84171 13.3536 3.64645L10.1716 0.464467C9.97631 0.269205 9.65973 0.269205 9.46447 0.464467C9.2692 0.659729 9.2692 0.976312 9.46447 1.17157L12.2929 4L9.46447 6.82843C9.2692 7.02369 9.2692 7.34027 9.46447 7.53553C9.65973 7.7308 9.97631 7.7308 10.1716 7.53553L13.3536 4.35355ZM-4.37114e-08 4.5L13 4.5L13 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>