<section class="popular">
  <div class="container">
    <h2 class="section-title popular__title">Популярные услуги</h2>
    <div class="slider-tabs popular__tabs" data-js-tabs>
      <div class="slider-tabs__tablist" role="tablist" aria-label="Популярные услуги">
        <div class="slider-tabs__slider" data-js-tabs-slider></div>
        <button class="btn-reset slider-tabs__btn is-active" role="tab" aria-selected="true" aria-controls="popular-panel-1" id="popular-tab-1" tabindex="0" data-js-tabs-button>УЗИ</button>
        <button class="btn-reset slider-tabs__btn" role="tab" aria-selected="true" aria-controls="popular-panel-2" id="popular-tab-2" tabindex="-1" data-js-tabs-button>Анализы</button>
        <button class="btn-reset slider-tabs__btn" role="tab" aria-selected="true" aria-controls="popular-panel-3" id="popular-tab-3" tabindex="-1" data-js-tabs-button>Консультации врачей</button>
      </div>
    </div>
    <div class="popular__content">
      <div class="slider-tabs-content is-active" id="popular-panel-1" role="tabpanel" tabindex="0" aria-labelledby="popular-tab-1" data-js-tabs-content>
        <ul class="list-reset popular__list list-popular">
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ органов брюшной полости</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ печени, желчного пузыря, поджелудочной железы, селезенки</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ печени</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ поджелудочной железы</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ почек, надпочечников</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ желчного пузыря с определением функции</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="slider-tabs-content" id="popular-panel-2" role="tabpanel" tabindex="0" aria-labelledby="popular-tab-2" data-js-tabs-content>
        <ul class="list-reset popular__list list-popular">
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ органов брюшной полости</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ печени, желчного пузыря, поджелудочной железы, селезенки</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ печени</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ поджелудочной железы</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ почек, надпочечников</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ желчного пузыря с определением функции</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="slider-tabs-content" id="popular-panel-3" role="tabpanel" tabindex="0" aria-labelledby="popular-tab-3" data-js-tabs-content>
        <ul class="list-reset popular__list list-popular">
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ органов брюшной полости</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ печени, желчного пузыря, поджелудочной железы, селезенки</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ печени</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ поджелудочной железы</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ почек, надпочечников</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
          <li class="list-popular__item">
            <a href="#!" class="list-popular__link">УЗИ желчного пузыря с определением функции</a>
            <div class="list-popular__price-block">
              <span class="list-popular__price">от 3 500 ₽</span>
              <button class="btn-reset btn btn--sm btn--blue-light-bg list-popular__btn" data-dialog-btn="appoinment">
                <span class="btn__text">Записаться</span>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>