<section class="promo">
  <div class="container">
    <div class="promo__caption">
      <h2 class="section-title promo__title">Акции и предложения</h2>
      <a href="#!" class="base-link">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <rect width="12" height="2" rx="1" />
          <rect y="5" width="12" height="2" rx="1" />
          <rect y="10" width="6" height="2" rx="1" />
        </svg>
        Все акции и предложения
      </a>
    </div>
    <ul class="list-reset promo__list list-promo">
      <li class="list-promo__item list-promo__item--discount list-promo__item--doctor " data-discount="20" data-color="#000">
        <h3 class="list-promo__title">УЗИ брюшной полости в Челябинске: где со скидкой</h3>
        <span class="list-promo__deadline">до <time datetime="2025-11-17">17 ноября</time></span>
        <a href="#!" class="list-promo__link"></a>
      </li>
      <li class="list-promo__item list-promo__item--discount list-promo__item--functional" data-discount="15">
        <h3 class="list-promo__title">Функциональная диагностика в Клинике Профессора Кинзерского</h3>
        <span class="list-promo__deadline">до <time datetime="2025-12-31">31 декабря</time></span>
        <a href="#!" class="list-promo__link"></a>
      </li>
      <li class="list-promo__item list-promo__item--covid">
        <h3 class="list-promo__title">Бесплатные анализы при заказе услуг из раздела Covid-реабилитация</h3>
        <span class="list-promo__deadline">до <time datetime="2026-01-01">1 января</time></span>
        <a href="#!" class="list-promo__link"></a>
      </li>
    </ul>
  </div>
</section>